.container {
  min-height: 100vh;
  background-color: black;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.inputArea {
  width: 100%;
  margin-top: 1rem;
}
.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.intro {
  color: white;
  font-size: 28px;
  text-align: center;
  margin-top: 16px;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 8px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: #efefef;
}

.waveTime {
  color: white;
}

.desc {
  color: white;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

.address {
}

@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .address {
    font-size: 12px;
  }
}
